/* general */
* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.container {
  width: 90%;
  margin: auto;
}

.heading {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

.heading .title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  padding: 10px 0px;
  margin-bottom: 20px;
  position: relative;
  color: #fff;
  font-size: 25px;
}

.heading .desc {
  font-size: 14px;
  margin: auto;
  padding: 10px 0px;
  margin-bottom: 20px;
  position: relative;
  color: #838383;
}

/* about */
.about {
  width: 100%;
  padding: 50px 0x;
  margin: 50px 0px;
}

.about .box {
  width: 100%;
  padding: 20px 25px;
  background-color: #fff;
}

.about .box .box-image {
  width: 100%;
  height: 280px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.about .box .box-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
}

.about .box .box-image .icon {
  width: 120px;
  height: 120px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  -webkit-clip-path: polygon(0 0, 73% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 73% 0, 100% 100%, 0% 100%);
}

.about .box .box-image .icon i {
  position: absolute;
  font-size: 30px;
  color: #8d0000;
  top: 20px;
  left: 30px;
}

.about .box .box-content {
  width: 100%;
}

.about .box .box-content h4 {
  color: #111;
  font-size: 25px;
  margin-bottom: 20px;
  padding: 5px 0px;
}

.about .box .box-content p {
  color: #111;
  font-size: 16px;
  line-height: 2rem;
}

.about .box .box-content .btn {
  padding: 10px 20px;
  color: #fff;
  font-size: 13px;
  background-color: #8d0000;
}

.about .box .box-content .btn:hover {
  background-color: #252525;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

/* request */
.request {
  width: 100%;
  height: 100vh;
  padding: 50px 0x;
  position: relative;
  background-color: #252525;
  -webkit-clip-path: polygon(32% 0, 100% 0, 100% 100%, 49% 100%);
          clip-path: polygon(32% 0, 100% 0, 100% 100%, 49% 100%);
}

.request::before {
  position: fixed;
  width: 100%;
  background-image: url("../images/fixed.jpg");
  background-position: center;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-attachment: fixed;
  z-index: 9;
}

.request .contact-req {
  padding: 100px 0px;
}

.request .heading {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

.request .heading .title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  padding: 10px 0px;
  margin-bottom: 20px;
  position: relative;
  color: #fff;
  font-size: 25px;
}

.request .heading .desc {
  font-size: 14px;
  margin: auto;
  padding: 10px 0px;
  margin-bottom: 20px;
  position: relative;
  color: #838383;
}

.request form .btn {
  padding: 10px 20px !important;
  margin-top: 5px;
  margin-left: 220px;
  color: #fff !important;
  font-size: 13px;
  background-color: #8d0000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.request form .btn:hover {
  background-color: #838383;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

/* services */
.services {
  width: 100%;
  padding: 50px 0x;
  margin: 50px 0px;
}

.services .heading {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

.services .heading .title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  padding: 10px 0px;
  margin-bottom: 20px;
  position: relative;
  color: #252525;
  font-size: 40px;
}

.services .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services .box .box-icon {
  padding: 40px;
  background-color: #838383;
  -webkit-clip-path: polygon(0 0, 64% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 64% 0, 100% 100%, 0% 100%);
}

.services .box .box-icon i {
  font-size: 25px;
  color: #8d0000;
}

.services .box:hover .box-icon {
  background-color: #8d0000;
}

.services .box:hover .box-icon i {
  color: #fff;
}

/* contact us */
.contact-us {
  width: 100%;
  padding: 50px 0px;
  background-color: #cacaca;
}

.contact-us p {
  width: 400px;
  margin-top: 20px;
  font-size: 17px;
  font-weight: 500;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.contact-us a {
  padding: 10px 15px;
  margin-top: 10px;
  position: absolute;
  right: 10%;
  border: 1px solid transparent;
  background-color: #8d0000;
  color: #fff;
}

.contact-us a:hover {
  background-color: #252525;
  color: #fff;
}

/* reasons & news */
.reasons-news {
  width: 100%;
  padding: 100px 0px;
  background-color: #fff;
}

.reasons-news .reasons .heading {
  text-align: center;
  color: #111;
}

.reasons-news .reasons .collapsible {
  background-color: #eee;
  color: #838383;
  width: 100%;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
  font-size: 18px;
}

.reasons-news .reasons .collapsible:hover, .reasons-news .reasons .collapsible:active {
  background-color: #252525;
  color: #838383;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.reasons-news .reasons .collapsible .icon {
  width: 80px;
  height: 65px;
  background-color: #bbbbbb;
  -webkit-clip-path: polygon(0 0, 73% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 73% 0, 100% 100%, 0% 100%);
}

.reasons-news .reasons i {
  font-size: 15px;
  color: #252525;
  position: absolute;
  background-color: #bbbbbb;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -ms-flex-line-pack: center !important;
      align-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.reasons-news .content {
  font-size: 15px;
  line-height: 20px;
  padding: 10px 20px;
}

.reasons-news .achievments {
  width: 100%;
  padding: 0px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.reasons-news .achievments i {
  color: #838383;
}

.reasons-news .achievments .block {
  margin-bottom: 80px;
}

.reasons-news .achievments .block a {
  color: #838383;
}

.reasons-news .achievments .block a:hover {
  color: #e44545;
}

.reasons-news .achievments .block a img:hover {
  background-color: #e44545;
}

.reasons-news .achievments .block .news-pic {
  float: left;
  margin-right: 20px;
  position: relative;
}

.reasons-news .reasons .collapsible:hover .icon,
.reasons-news .reasons .collapsible:active .icon {
  background-color: #8d0000;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.reasons-news .reasons .collapsible:hover i,
.reasons-news .reasons .collapsible:active i {
  background-color: #8d0000;
  color: #fff;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

/* our clients */
.our-clients {
  width: 100%;
  padding: 80px 0px;
  background-color: #fff;
}

.our-clients .heading {
  color: #111;
  font-size: 55px;
  font-weight: 900;
}

.our-clients .client {
  padding: 10px 8px;
  background-color: #dddddd;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-clients .client:hover {
  content: 'client';
  background-color: #e44545;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

/* footer */
footer {
  width: 100%;
  padding: 80px 0px;
  background-color: #232331;
}

footer .head {
  width: 280px;
  height: 60px;
  background-color: #8d0000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-clip-path: polygon(0 0, 81% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 81% 0, 100% 100%, 0% 100%);
}

footer h4 {
  padding: 17px 8px;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}

footer .about-us .about-logo {
  padding: 20px 0px;
}

footer p,
footer i,
footer a {
  color: #838383;
  font-size: 14px;
}

footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .social li {
  padding-right: 25px;
  font-size: 17px;
}

footer .social li i:hover {
  color: #8d0000;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

footer .pages .info-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .pages .soc a:hover {
  color: #8d0000;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

footer .pages .soc:hover {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

footer .pages .info-content ul {
  padding-right: 80px;
}

footer .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .contact-info i,
footer .contact-info p {
  padding-right: 8px;
}
/*# sourceMappingURL=style.css.map */